// copy "/app/example" to="/tmp"

fork {
  // BUG: the file is not removed when in fork, maybe because all the threads are killed when the main thread exit
  // rm "/tmp/example"

  (info)log "forked"
  (error)log "forked"

}

(drop)env var="*"
(load)env var="PATH"
(load)env var="not-existing" if-exists=true
(info)log "PATH is ?PATH"


(info)log "hello world"
(worn)log "this is a cool worn"

run "touch /tmp/shell.test"
rm "/tmp/shell.test"

(bool)var name="hello" value="true"

if var="hello" {
  (info)log "var hello is true"
}

(bool)input var="r-u-ok" prompt="are you ok?" default="true"

(info)log "r u ok is ?r-u-ok"
